<form action="/answer">
  <input type="text" name="question" placeholder="What do you wanna tell to the coach?">
  <input class="btn btn-primary" type="submit" value="<%= params[:question] %>">
</form>
